{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
{% if can_post %}
<!-- New status -->
<section id="new-status">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto my-3">
                <div class="card">
                    <div class="card-header">
                        New post
                    </div>
                    <div class="card-body">
                        <form id="status-form">
                            <div class="form-group">
                                <textarea name="content" class="form-control" id="status"
                                    rows="3">What is going on?</textarea>
                            </div>
                            <span class="text-danger" id="status-error"></span>
                            <button class="btn btn-danger mb-2 float-right" id="post-button">Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<section id="posts" class="my-4">
    <div class="container">
        {% for post in page_obj %}
        <div class="row mb-4">
            <div class="col-md-8 mx-auto">
                <a href="/profile/{{post.user}}"><strong>{{ post.user | title }}</strong></a>
                <br>
                <small class="text-muted">{{ post.time_posted }}</small>
                <br>
                <a href="#"><small>Edit</small></a>
                <p>{{ post.content }}</p>
                {% if post.has_liked %}
                <span class="text-danger like font-weight-bold mr-1" id="like-btn" data-post-id={{post.id}}>
                    Like
                </span>
                {% else %}
                <span class="like font-weight-bold mr-1" id="like-btn" data-post-id={{post.id}}>
                    Like
                </span>
                {% endif %}
                <span>{{post.number_of_likes}}</span>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Sorry, no posts found!</p>
        {% endfor %}
    </div>
</section>

<!-- pagination -->
{% if page_obj.has_other_pages %}
<section id="pagination">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{ page_obj.previous_page_number }}">previous</a>
                        </li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                        {% if i <= page_obj.number|add:3 and i >= page_obj.number|add:-3 %}
                        {% if i == page_obj.number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endif %}
{% endblock %}