{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<!-- New status -->
<section id="new-status">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto my-3">
                <div class="card">
                    <div class="card-header">
                        New post
                    </div>
                    <div class="card-body">
                        <form id="status-form">
                            <div class="form-group">
                                <textarea name="content" class="form-control" id="status"
                                    rows="3">What is going on?</textarea>
                            </div>
                            <span class="text-danger" id="status-error"></span>
                            <button class="btn btn-danger mb-2 float-right" id="post-button">Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <p class="text-center">Posts will appear here soon insha Allah</p> -->
</section>

<section id="all-posts">
    <div class="container">
        {% for post in posts %}
        <div class="row mb-4">
            <div class="col-md-8 mx-auto">
                <a href="/profile/{{post.user}}"><strong>{{ post.user | title }}</strong></a>
                <br>
                <small class="text-muted">{{ post.time_posted }}</small>
                <br>
                <a href="#"><small>Edit</small></a>
                <p>{{ post.content }}</p>
                <span class="text-dark font-weight-bold mr-1">Like</span>
                <span>0</span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endif %}
{% endblock %}