{% extends "network/layout.html" %}

{% block body %}
<!-- Profile information -->
<section id="profile" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <p>Email: {{ user.email }}</p>
                <p>Followers: 88</p>
                <p>Followed by: 99</p>
                <button type="button" class="btn btn-outline-danger">Follow</button>
            </div>
            <div class="col-md-8 border-left py-2">
                {% for post in posts %}
                <div class="row mb-4">
                    <div class="col-md-8 mx-auto">
                        <a href="/profile/{{post.user}}"><strong>{{ post.user | title }}</strong></a>
                        <br>
                        <small class="text-muted">{{ post.time_posted }}</small>
                        <br>
                        <a href="#"><small>Edit</small></a>
                        <p>{{ post.content }}</p>
                        <span class="text-dark font-weight-bold mr-1">Like</span>
                        <span>0</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}